# Auto Scout Project 
**Magnimind** 

**Author:** Mark    
**Date:** February 2026  
**GitHub:** [link](https://github.com/mjoslin-ai/Magnimind-Project-Auto-Scout)

In [64]:
import pandas as pd
import numpy as np
import re
pd.set_option('display.max_columns', None)

## Project Phase:
### 1. Data Cleaning:
This phase involves removing broken, irrelevant, or redundant columns, and generating new
columns with meaningful values.

#### Data exploration

In [65]:
df = pd.read_json("scout_car.json", lines=True)
print(df.shape)
print(df.head())
print(df.info())

(15919, 54)
                                                 url make_model  \
0  https://www.autoscout24.com//offers/audi-a1-sp...    Audi A1
1  https://www.autoscout24.com//offers/audi-a1-1-...    Audi A1
2  https://www.autoscout24.com//offers/audi-a1-sp...    Audi A1
3  https://www.autoscout24.com//offers/audi-a1-1-...    Audi A1
4  https://www.autoscout24.com//offers/audi-a1-sp...    Audi A1

                                   short_description body_type  price  \
0        Sportback 1.4 TDI S-tronic Xenon Navi Klima    Sedans  15770
1                                     1.8 TFSI sport    Sedans  14500
2  Sportback 1.6 TDI S tronic Einparkhilfe plus+m...    Sedans  14640
3                            1.4 TDi Design S tronic    Sedans  14500
4  Sportback 1.4 TDI S-Tronic S-Line Ext. admired...    Sedans  16790

                vat         km registration         prev_owner  kW      hp  \
0    VAT deductible  56,013 km      01/2016  2 previous owners NaN   66 kW
1  Price negotiable  80,000 km      03/2017                NaN NaN  141 kW
2    VAT deductible  83,450 km      02/2016   1 previous owner NaN   85 kW
3               NaN  73,000 km      08/2016   1 previous owner NaN   66 kW
4               NaN  16,200 km      05/2016   1 previous owner NaN   66 kW

                                      Type Previous Owners  \
0  [, Used, , Diesel (Particulate Filter)]           \n2\n
1                     [, Used, , Gasoline]             NaN
2  [, Used, , Diesel (Particulate Filter)]           \n1\n
3  [, Used, , Diesel (Particulate Filter)]           \n1\n
4  [, Used, , Diesel (Particulate Filter)]           \n1\n

                         Next Inspection                      Inspection new  \
0  [\n06/2021\n, \n99 g CO2/km (comb)\n]               [\nYes\n, \nEuro 6\n]
1                                    NaN                                 NaN
2                                    NaN                                 NaN
3                                    NaN                                 NaN
4                                    NaN  [\nYes\n, \n109 g CO2/km (comb)\n]

                           Warranty                      Full Service  \
0           [\n, \n, \n4 (Green)\n]                          [\n, \n]
1                               NaN                               NaN
2  [\n, \n, \n99 g CO2/km (comb)\n]                               NaN
3                               NaN  [\n, \n, \n99 g CO2/km (comb)\n]
4              [\n, \n, \nEuro 6\n]           [\n, \n, \n4 (Green)\n]

    Non-smoking Vehicle null      Make         Model     Offer Number  \
0              [\n, \n]   []  \nAudi\n  [\n, A1, \n]  [\nLR-062483\n]
1                   NaN   []  \nAudi\n  [\n, A1, \n]              NaN
2                   NaN   []  \nAudi\n  [\n, A1, \n]   [\nAM-95365\n]
3  [\n, \n, \nEuro 6\n]   []  \nAudi\n  [\n, A1, \n]              NaN
4              [\n, \n]   []  \nAudi\n  [\n, A1, \n]      [\nC1626\n]

  First Registration       Body Color      Paint Type  \
0     [\n, 2016, \n]  [\n, Black, \n]  [\nMetallic\n]
1     [\n, 2017, \n]    [\n, Red, \n]             NaN
2     [\n, 2016, \n]  [\n, Black, \n]  [\nMetallic\n]
3     [\n, 2016, \n]  [\n, Brown, \n]  [\nMetallic\n]
4     [\n, 2016, \n]  [\n, Black, \n]  [\nMetallic\n]

            Body Color Original          Upholstery              Body  \
0           [\nMythosschwarz\n]  [\nCloth, Black\n]  [\n, Sedans, \n]
1                           NaN   [\nCloth, Grey\n]  [\n, Sedans, \n]
2  [\nmythosschwarz metallic\n]  [\nCloth, Black\n]  [\n, Sedans, \n]
3                           NaN                 NaN  [\n, Sedans, \n]
4  [\nMythosschwarz Metallic\n]  [\nCloth, Black\n]  [\n, Sedans, \n]

  Nr. of Doors Nr. of Seats      Model Code         Gearing Type  \
0      [\n5\n]      [\n5\n]  [\n0588/BDF\n]  [\n, Automatic, \n]
1      [\n3\n]      [\n4\n]  [\n0588/BCY\n]  [\n, Automatic, \n]
2      [\n4\n]      [\n4\n]             NaN  [\n, Automatic, \n]
3      [\n3\n]      [\n4\n]             NaN  [\n, Automatic, \n]
4      [\n5\n]      [\n5\n]  [\n0588/BDF\n]  [\n, Automatic, \n]

     Displacement Cylinders          Weight  Drive chain  \
0  [\n1,422 cc\n]   [\n3\n]  [\n1,220 kg\n]  [\nfront\n]
1  [\n1,798 cc\n]   [\n4\n]  [\n1,255 kg\n]  [\nfront\n]
2  [\n1,598 cc\n]       NaN             NaN  [\nfront\n]
3  [\n1,422 cc\n]   [\n3\n]  [\n1,195 kg\n]          NaN
4  [\n1,422 cc\n]   [\n3\n]             NaN  [\nfront\n]

                                    Fuel  \
0  [\n, Diesel (Particulate Filter), \n]
1                     [\n, Gasoline, \n]
2  [\n, Diesel (Particulate Filter), \n]
3  [\n, Diesel (Particulate Filter), \n]
4  [\n, Diesel (Particulate Filter), \n]

                                         Consumption  \
0  [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
1  [[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...
2  [[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...
3  [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
4  [[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...

                CO2 Emission Emission Class  \
0   [\n99 g CO2/km (comb)\n]   [\nEuro 6\n]
1  [\n129 g CO2/km (comb)\n]   [\nEuro 6\n]
2   [\n99 g CO2/km (comb)\n]   [\nEuro 6\n]
3   [\n99 g CO2/km (comb)\n]   [\nEuro 6\n]
4  [\n109 g CO2/km (comb)\n]   [\nEuro 6\n]

                           \nComfort & Convenience\n  \
0  [Air conditioning, Armrest, Automatic climate ...
1  [Air conditioning, Automatic climate control, ...
2  [Air conditioning, Cruise control, Electrical ...
3  [Air suspension, Armrest, Auxiliary heating, E...
4  [Air conditioning, Armrest, Automatic climate ...

                           \nEntertainment & Media\n  \
0  [Bluetooth, Hands-free equipment, On-board com...
1  [Bluetooth, Hands-free equipment, On-board com...
2                           [MP3, On-board computer]
3  [Bluetooth, CD player, Hands-free equipment, M...
4  [Bluetooth, CD player, Hands-free equipment, M...

                                          \nExtras\n  \
0  [Alloy wheels, Catalytic Converter, Voice Cont...
1  [Alloy wheels, Sport seats, Sport suspension, ...
2                      [Alloy wheels, Voice Control]
3         [Alloy wheels, Sport seats, Voice Control]
4  [Alloy wheels, Sport package, Sport suspension...

                               \nSafety & Security\n  \
0  [ABS, Central door lock, Daytime running light...
1  [ABS, Central door lock, Central door lock wit...
2  [ABS, Central door lock, Daytime running light...
3  [ABS, Alarm system, Central door lock with rem...
4  [ABS, Central door lock, Driver-side airbag, E...

                                         description   Emission Label  \
0  [\n, Sicherheit:,  , Deaktivierung für Beifahr...              NaN
1  [\nLangstreckenfahrzeug daher die hohe Kilomet...  [\n4 (Green)\n]
2  [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 2...  [\n4 (Green)\n]
3  [\nAudi A1: , - 1e eigenaar , - Perfecte staat...              NaN
4  [\n, Technik & Sicherheit:, Xenon plus, Klimaa...              NaN

     Gears Country version Electricity consumption Last Service Date  \
0      NaN             NaN                     NaN               NaN
1  [\n7\n]             NaN                     NaN               NaN
2      NaN             NaN                     NaN               NaN
3  [\n6\n]             NaN                     NaN               NaN
4      NaN   [\nGermany\n]                     NaN               NaN

  Other Fuel Types Availability Last Timing Belt Service Date Available from
0              NaN          NaN                           NaN            NaN
1              NaN          NaN                           NaN            NaN
2              NaN          NaN                           NaN            NaN
3              NaN          NaN                           NaN            NaN
4              NaN          NaN                           NaN            NaN
<class 'pandas.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  str
 1   make_model                     15919 non-null  str
 2   short_description              15873 non-null  str
 3   body_type                      15859 non-null  str
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  str
 6   km                             15919 non-null  str
 7   registration                   15919 non-null  str
 8   prev_owner                     9091 non-null   str
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  str
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  str
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    str
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    str
dtypes: float64(1), int64(1), object(40), str(12)
memory usage: 6.6+ MB
None

#### Helper functions

In [66]:
# remove \n
def remove_na(x):
    if isinstance(x, list):
        cleaned = [str(item).strip().replace('\n', '').replace('\\n', '') 
                   for item in x if str(item).strip() and str(item).strip() != '']
        if len(cleaned) == 0:
            return np.nan
        if len(cleaned) == 1:
            return cleaned[0]
        return cleaned
    elif isinstance(x, str):
        return x.strip().replace('\n', '').replace('\\n', '')
    return x

# extract pure numeric values
def extract_number(x):
    if isinstance(x, list):
        # Grab the first element of the list
        x = x[0] if x else pd.NA
    if pd.isna(x):
        return pd.NA
    # Convert to string 
    s = str(x).strip()
    # Find numbers
    m = re.search(r'-?(?:\d{1,4}(?:,\d{3})*|\d+)(?:\.\d+)?', s)
    if not m:
        return pd.NA
    # Remove commas 
    cleaned = m.group().replace(',', '')
    try:
        return cleaned
    except ValueError:
        return pd.NA

# split str in a list (e.g., type column into condition and fuel)
def extract_condition(x):
    if isinstance(x, list) and len(x) >= 2:
        return x[0] # first item
    return x if not pd.isna(x) else pd.NA

def extract_fuel(x):
    if isinstance(x, list) and len(x) >= 2:
        return x[-1] # last item
    return pd.NA

#### Remove \n

In [67]:
df = (df
      .apply(lambda col: col.apply(remove_na)) # in col values
      .rename(columns=remove_na) # in col names
)

#### Standardize column names

In [68]:
print(df.columns)

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', 'Comfort & Convenience',
       'Entertainment & Media', 'Extras', 'Safety & Security', 'description',
       'Emission Label', 'Gears', 'Country version', 'Electricity consumption',
       'Last Service Date', 'Other Fuel Types', 'Availability',
       'Last Timing Belt Service Date', 'Available from'],
      dtype='str')

In [69]:
df.columns = df.columns.str.lower().str.replace(r'[ &]', '_', regex=True).str.replace('___', '_')

print(df.columns)

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kw', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non-smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr._of_doors',
       'nr._of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co2_emission', 'emission_class', 'comfort_convenience',
       'entertainment_media', 'extras', 'safety_security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='str')

#### Remove irrelevant columns

In [70]:
cols_to_drop = ['url', # metadata
                'kw', # 0 non-null values and redundant with hp
                'null', # empty list (df['null'].apply(lambda x: x == []).all() is true)
                'offer_number', # manufacturer/internal reference code
                'model_code', # manufacturer/internal reference code
                'make_model' # redundant with make and model columns
                ]
df.drop(columns=cols_to_drop, inplace=True)
print(df.shape)

(15919, 48)

#### Remove columns with too many nulls (> 70%)

In [71]:
threshold = 70
missing_percentage = df.isnull().mean() * 100
cols_to_drop = missing_percentage[missing_percentage > threshold].index
print(f"Columns missing values > {threshold}%:\n", cols_to_drop)
df.drop(columns=cols_to_drop, inplace=True)
print(df.shape)

Columns missing values > 70%:
 Index(['next_inspection', 'inspection_new', 'non-smoking_vehicle',
       'emission_label', 'electricity_consumption', 'last_service_date',
       'other_fuel_types', 'availability', 'last_timing_belt_service_date',
       'available_from'],
      dtype='str')
(15919, 38)

#### Clean feature by feature

##### **price**

In [72]:
print(df['price'])

0        15770
1        14500
2        14640
3        14500
4        16790
         ...
15914    39950
15915    39885
15916    39875
15917    39700
15918    40999
Name: price, Length: 15919, dtype: int64

In [73]:
df['price'] = pd.to_numeric(df['price'].apply(extract_number), errors='coerce').astype('float64')

print(df['price'])

0        1577.0
1        1450.0
2        1464.0
3        1450.0
4        1679.0
          ...
15914    3995.0
15915    3988.0
15916    3987.0
15917    3970.0
15918    4099.0
Name: price, Length: 15919, dtype: float64

##### **km**

In [74]:
print(df['km'])

0        56,013 km
1        80,000 km
2        83,450 km
3        73,000 km
4        16,200 km
           ...
15914         - km
15915     9,900 km
15916        15 km
15917        10 km
15918         - km
Name: km, Length: 15919, dtype: str

In [75]:
df['km'] = pd.to_numeric(df['km'].apply(extract_number), errors='coerce').astype('float64')

print(df['km'])

0        56013.0
1        80000.0
2        83450.0
3        73000.0
4        16200.0
          ...
15914        NaN
15915     9900.0
15916       15.0
15917       10.0
15918        NaN
Name: km, Length: 15919, dtype: float64

##### **registration**

In [76]:
print(df[['registration', 'first_registration']])

      registration first_registration
0          01/2016               2016
1          03/2017               2017
2          02/2016               2016
3          08/2016               2016
4          05/2016               2016
...            ...                ...
15914          -/-                NaN
15915      01/2019               2019
15916      03/2019               2019
15917      06/2019               2019
15918      01/2019               2019

[15919 rows x 2 columns]

In [77]:
# split registration into month and year
split = df['registration'].astype(str).str.split('/', expand=True)

df['registration_month'] = pd.to_numeric(split[0].apply(extract_number), errors='coerce').astype('Int64')

df['registration_year'] = pd.to_numeric(split[1].apply(extract_number), errors='coerce').astype('Int64')

df.drop(columns=['registration'], inplace=True)

# check if first_registration adds any value to registration_year
df['registration_year'] = df['registration_year'].fillna(df['first_registration'])

df.drop(columns=['first_registration'], inplace=True)

print(df[['registration_month', 'registration_year']])

       registration_month  registration_year
0                       1               2016
1                       3               2017
2                       2               2016
3                       8               2016
4                       5               2016
...                   ...                ...
15914                <NA>               <NA>
15915                   1               2019
15916                   3               2019
15917                   6               2019
15918                   1               2019

[15919 rows x 2 columns]

##### previous_owners

In [78]:
print(df[['previous_owners', 'prev_owner']])

                                         previous_owners         prev_owner
0                                                      2  2 previous owners
1                                                    NaN                NaN
2                                                      1   1 previous owner
3                                                      1   1 previous owner
4                                                      1   1 previous owner
...                                                  ...                ...
15914                                                NaN                NaN
15915  [1, 7.4 l/100 km (comb), 9.2 l/100 km (city), ...   1 previous owner
15916                           [1, 139 g CO2/km (comb)]   1 previous owner
15917                                                NaN                NaN
15918                                                  1   1 previous owner

[15919 rows x 2 columns]

In [79]:
df['previous_owners'] = pd.to_numeric(df['previous_owners'].apply(extract_number), errors='coerce').astype('Int64')

df['prev_owner'] = pd.to_numeric(df['prev_owner'].apply(extract_number), errors='coerce').astype('Int64')

df['previous_owners'] = df['previous_owners'].fillna(df['prev_owner'])

df.drop(columns=['prev_owner'], inplace=True)

print(df[['previous_owners']])

       previous_owners
0                    2
1                 <NA>
2                    1
3                    1
4                    1
...                ...
15914             <NA>
15915                1
15916                1
15917             <NA>
15918                1

[15919 rows x 1 columns]

##### **hp**

In [80]:
print(df['hp'])

0         66 kW
1        141 kW
2         85 kW
3         66 kW
4         66 kW
          ...
15914    147 kW
15915    165 kW
15916    146 kW
15917    147 kW
15918    165 kW
Name: hp, Length: 15919, dtype: str

In [81]:
df['hp_kw'] = df['hp'].apply(extract_number).astype('float64')
df.drop(columns=['hp'], inplace=True)

print(df['hp_kw'])

0         66.0
1        141.0
2         85.0
3         66.0
4         66.0
         ...
15914    147.0
15915    165.0
15916    146.0
15917    147.0
15918    165.0
Name: hp_kw, Length: 15919, dtype: float64

##### **type**

In [82]:
print(df['type'])

0                      [Used, Diesel (Particulate Filter)]
1                                         [Used, Gasoline]
2                      [Used, Diesel (Particulate Filter)]
3                      [Used, Diesel (Particulate Filter)]
4                      [Used, Diesel (Particulate Filter)]
                               ...
15914                   [New, Diesel (Particulate Filter)]
15915    [Used, Super 95 / Super Plus 98 (Particulate F...
15916                             [Pre-registered, Diesel]
15917                             [Pre-registered, Diesel]
15918                            [Demonstration, Super 95]
Name: type, Length: 15919, dtype: object

In [83]:
# split into vehicle condition and fuel type
df['condition'] = df['type'].apply(extract_condition)
df['fuel_type'] = df['type'].apply(extract_fuel)
df.drop(columns=['type'], inplace=True)

print(df[['condition', 'fuel_type', 'fuel']])

            condition                                      fuel_type  \
0                Used                    Diesel (Particulate Filter)
1                Used                                       Gasoline
2                Used                    Diesel (Particulate Filter)
3                Used                    Diesel (Particulate Filter)
4                Used                    Diesel (Particulate Filter)
...               ...                                            ...
15914             New                    Diesel (Particulate Filter)
15915            Used  Super 95 / Super Plus 98 (Particulate Filter)
15916  Pre-registered                                         Diesel
15917  Pre-registered                                         Diesel
15918   Demonstration                                       Super 95

                                                fuel
0                        Diesel (Particulate Filter)
1                                           Gasoline
2                        Diesel (Particulate Filter)
3                        Diesel (Particulate Filter)
4                        Diesel (Particulate Filter)
...                                              ...
15914                    Diesel (Particulate Filter)
15915  Super 95 / Super Plus 98 (Particulate Filter)
15916                                         Diesel
15917                                         Diesel
15918                                       Super 95

[15919 rows x 3 columns]

In [84]:
# merge fuel_type into fuel
df['fuel'] = df['fuel'].fillna(df['fuel_type'])
df.drop(columns=['fuel_type'], inplace=True)

#####

#### Final dataset

In [85]:
print(df.shape)
print(df.head())
print(df.info())

(15919, 37)
                                   short_description body_type   price  \
0        Sportback 1.4 TDI S-tronic Xenon Navi Klima    Sedans  1577.0
1                                     1.8 TFSI sport    Sedans  1450.0
2  Sportback 1.6 TDI S tronic Einparkhilfe plus+m...    Sedans  1464.0
3                            1.4 TDi Design S tronic    Sedans  1450.0
4  Sportback 1.4 TDI S-Tronic S-Line Ext. admired...    Sedans  1679.0

                vat       km  previous_owners            warranty  \
0    VAT deductible  56013.0                2           4 (Green)
1  Price negotiable  80000.0             <NA>                 NaN
2    VAT deductible  83450.0                1  99 g CO2/km (comb)
3               NaN  73000.0                1                 NaN
4               NaN  16200.0                1              Euro 6

         full_service  make model body_color paint_type  \
0                 NaN  Audi    A1      Black   Metallic
1                 NaN  Audi    A1        Red        NaN
2                 NaN  Audi    A1      Black   Metallic
3  99 g CO2/km (comb)  Audi    A1      Brown   Metallic
4           4 (Green)  Audi    A1      Black   Metallic

      body_color_original    upholstery    body nr._of_doors nr._of_seats  \
0           Mythosschwarz  Cloth, Black  Sedans            5            5
1                     NaN   Cloth, Grey  Sedans            3            4
2  mythosschwarz metallic  Cloth, Black  Sedans            4            4
3                     NaN           NaN  Sedans            3            4
4  Mythosschwarz Metallic  Cloth, Black  Sedans            5            5

  gearing_type displacement cylinders    weight drive_chain  \
0    Automatic     1,422 cc         3  1,220 kg       front
1    Automatic     1,798 cc         4  1,255 kg       front
2    Automatic     1,598 cc       NaN       NaN       front
3    Automatic     1,422 cc         3  1,195 kg         NaN
4    Automatic     1,422 cc         3       NaN       front

                          fuel  \
0  Diesel (Particulate Filter)
1                     Gasoline
2  Diesel (Particulate Filter)
3  Diesel (Particulate Filter)
4  Diesel (Particulate Filter)

                                         consumption         co2_emission  \
0  [['3.8 l/100 km (comb)'], ['4.3 l/100 km (city...   99 g CO2/km (comb)
1  [['5.6 l/100 km (comb)'], ['7.1 l/100 km (city...  129 g CO2/km (comb)
2  [['3.8 l/100 km (comb)'], ['4.4 l/100 km (city...   99 g CO2/km (comb)
3  [['3.8 l/100 km (comb)'], ['4.3 l/100 km (city...   99 g CO2/km (comb)
4  [['4.1 l/100 km (comb)'], ['4.6 l/100 km (city...  109 g CO2/km (comb)

  emission_class                                comfort_convenience  \
0         Euro 6  [Air conditioning, Armrest, Automatic climate ...
1         Euro 6  [Air conditioning, Automatic climate control, ...
2         Euro 6  [Air conditioning, Cruise control, Electrical ...
3         Euro 6  [Air suspension, Armrest, Auxiliary heating, E...
4         Euro 6  [Air conditioning, Armrest, Automatic climate ...

                                 entertainment_media  \
0  [Bluetooth, Hands-free equipment, On-board com...
1  [Bluetooth, Hands-free equipment, On-board com...
2                           [MP3, On-board computer]
3  [Bluetooth, CD player, Hands-free equipment, M...
4  [Bluetooth, CD player, Hands-free equipment, M...

                                              extras  \
0  [Alloy wheels, Catalytic Converter, Voice Cont...
1  [Alloy wheels, Sport seats, Sport suspension, ...
2                      [Alloy wheels, Voice Control]
3         [Alloy wheels, Sport seats, Voice Control]
4  [Alloy wheels, Sport package, Sport suspension...

                                     safety_security  \
0  [ABS, Central door lock, Daytime running light...
1  [ABS, Central door lock, Central door lock wit...
2  [ABS, Central door lock, Daytime running light...
3  [ABS, Alarm system, Central door lock with rem...
4  [ABS, Central door lock, Driver-side airbag, E...

                                         description gears country_version  \
0  [Sicherheit:, Deaktivierung für Beifahrer-Airb...   NaN             NaN
1  [Langstreckenfahrzeug daher die hohe Kilometer...     7             NaN
2  [Fahrzeug-Nummer: AM-95365, Ehem. UPE 24.640 E...   NaN             NaN
3  [Audi A1:, - 1e eigenaar, - Perfecte staat: sc...     6             NaN
4  [Technik & Sicherheit:, Xenon plus, Klimaautom...   NaN         Germany

   registration_month  registration_year  hp_kw condition
0                   1               2016   66.0      Used
1                   3               2017  141.0      Used
2                   2               2016   85.0      Used
3                   8               2016   66.0      Used
4                   5               2016   66.0      Used
<class 'pandas.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   short_description    15873 non-null  str
 1   body_type            15859 non-null  str
 2   price                15919 non-null  float64
 3   vat                  11406 non-null  str
 4   km                   14895 non-null  float64
 5   previous_owners      9279 non-null   Int64
 6   warranty             10135 non-null  object
 7   full_service         6513 non-null   object
 8   make                 15919 non-null  str
 9   model                15919 non-null  str
 10  body_color           15322 non-null  str
 11  paint_type           10147 non-null  str
 12  body_color_original  12160 non-null  str
 13  upholstery           12199 non-null  str
 14  body                 15859 non-null  str
 15  nr._of_doors         15707 non-null  str
 16  nr._of_seats         14942 non-null  str
 17  gearing_type         15919 non-null  str
 18  displacement         15423 non-null  str
 19  cylinders            10239 non-null  str
 20  weight               8945 non-null   str
 21  drive_chain          9061 non-null   str
 22  fuel                 15919 non-null  str
 23  consumption          14013 non-null  object
 24  co2_emission         14111 non-null  object
 25  emission_class       12898 non-null  object
 26  comfort_convenience  14999 non-null  object
 27  entertainment_media  14545 non-null  object
 28  extras               12957 non-null  object
 29  safety_security      14937 non-null  object
 30  description          15250 non-null  object
 31  gears                11207 non-null  str
 32  country_version      7586 non-null   str
 33  registration_month   14322 non-null  Int64
 34  registration_year    14322 non-null  Int64
 35  hp_kw                15831 non-null  float64
 36  condition            15917 non-null  str
dtypes: Int64(3), float64(3), object(10), str(21)
memory usage: 4.5+ MB
None