# Auto Scout Project 
**Magnimind** 

**Author:** Mark    
**Date:** February 2026  
**GitHub:** [link](https://github.com/mjoslin-ai/Magnimind-Project-Auto-Scout)

In [303]:
import pandas as pd
pd.set_option('display.max_columns', None)

## Project Phase:
### 1. Data Cleaning:
This phase involves removing broken, irrelevant, or redundant columns, and generating new
columns with meaningful values.

In [304]:
df = pd.read_json("scout_car.json", lines=True)
print(df.shape)
print(df.head())
print(df.info())

(15919, 54)
                                                 url make_model  \
0  https://www.autoscout24.com//offers/audi-a1-sp...    Audi A1
1  https://www.autoscout24.com//offers/audi-a1-1-...    Audi A1
2  https://www.autoscout24.com//offers/audi-a1-sp...    Audi A1
3  https://www.autoscout24.com//offers/audi-a1-1-...    Audi A1
4  https://www.autoscout24.com//offers/audi-a1-sp...    Audi A1

                                   short_description body_type  price  \
0        Sportback 1.4 TDI S-tronic Xenon Navi Klima    Sedans  15770
1                                     1.8 TFSI sport    Sedans  14500
2  Sportback 1.6 TDI S tronic Einparkhilfe plus+m...    Sedans  14640
3                            1.4 TDi Design S tronic    Sedans  14500
4  Sportback 1.4 TDI S-Tronic S-Line Ext. admired...    Sedans  16790

                vat         km registration         prev_owner  kW      hp  \
0    VAT deductible  56,013 km      01/2016  2 previous owners NaN   66 kW
1  Price negotiable  80,000 km      03/2017                NaN NaN  141 kW
2    VAT deductible  83,450 km      02/2016   1 previous owner NaN   85 kW
3               NaN  73,000 km      08/2016   1 previous owner NaN   66 kW
4               NaN  16,200 km      05/2016   1 previous owner NaN   66 kW

                                      Type Previous Owners  \
0  [, Used, , Diesel (Particulate Filter)]           \n2\n
1                     [, Used, , Gasoline]             NaN
2  [, Used, , Diesel (Particulate Filter)]           \n1\n
3  [, Used, , Diesel (Particulate Filter)]           \n1\n
4  [, Used, , Diesel (Particulate Filter)]           \n1\n

                         Next Inspection                      Inspection new  \
0  [\n06/2021\n, \n99 g CO2/km (comb)\n]               [\nYes\n, \nEuro 6\n]
1                                    NaN                                 NaN
2                                    NaN                                 NaN
3                                    NaN                                 NaN
4                                    NaN  [\nYes\n, \n109 g CO2/km (comb)\n]

                           Warranty                      Full Service  \
0           [\n, \n, \n4 (Green)\n]                          [\n, \n]
1                               NaN                               NaN
2  [\n, \n, \n99 g CO2/km (comb)\n]                               NaN
3                               NaN  [\n, \n, \n99 g CO2/km (comb)\n]
4              [\n, \n, \nEuro 6\n]           [\n, \n, \n4 (Green)\n]

    Non-smoking Vehicle null      Make         Model     Offer Number  \
0              [\n, \n]   []  \nAudi\n  [\n, A1, \n]  [\nLR-062483\n]
1                   NaN   []  \nAudi\n  [\n, A1, \n]              NaN
2                   NaN   []  \nAudi\n  [\n, A1, \n]   [\nAM-95365\n]
3  [\n, \n, \nEuro 6\n]   []  \nAudi\n  [\n, A1, \n]              NaN
4              [\n, \n]   []  \nAudi\n  [\n, A1, \n]      [\nC1626\n]

  First Registration       Body Color      Paint Type  \
0     [\n, 2016, \n]  [\n, Black, \n]  [\nMetallic\n]
1     [\n, 2017, \n]    [\n, Red, \n]             NaN
2     [\n, 2016, \n]  [\n, Black, \n]  [\nMetallic\n]
3     [\n, 2016, \n]  [\n, Brown, \n]  [\nMetallic\n]
4     [\n, 2016, \n]  [\n, Black, \n]  [\nMetallic\n]

            Body Color Original          Upholstery              Body  \
0           [\nMythosschwarz\n]  [\nCloth, Black\n]  [\n, Sedans, \n]
1                           NaN   [\nCloth, Grey\n]  [\n, Sedans, \n]
2  [\nmythosschwarz metallic\n]  [\nCloth, Black\n]  [\n, Sedans, \n]
3                           NaN                 NaN  [\n, Sedans, \n]
4  [\nMythosschwarz Metallic\n]  [\nCloth, Black\n]  [\n, Sedans, \n]

  Nr. of Doors Nr. of Seats      Model Code         Gearing Type  \
0      [\n5\n]      [\n5\n]  [\n0588/BDF\n]  [\n, Automatic, \n]
1      [\n3\n]      [\n4\n]  [\n0588/BCY\n]  [\n, Automatic, \n]
2      [\n4\n]      [\n4\n]             NaN  [\n, Automatic, \n]
3      [\n3\n]      [\n4\n]             NaN  [\n, Automatic, \n]
4      [\n5\n]      [\n5\n]  [\n0588/BDF\n]  [\n, Automatic, \n]

     Displacement Cylinders          Weight  Drive chain  \
0  [\n1,422 cc\n]   [\n3\n]  [\n1,220 kg\n]  [\nfront\n]
1  [\n1,798 cc\n]   [\n4\n]  [\n1,255 kg\n]  [\nfront\n]
2  [\n1,598 cc\n]       NaN             NaN  [\nfront\n]
3  [\n1,422 cc\n]   [\n3\n]  [\n1,195 kg\n]          NaN
4  [\n1,422 cc\n]   [\n3\n]             NaN  [\nfront\n]

                                    Fuel  \
0  [\n, Diesel (Particulate Filter), \n]
1                     [\n, Gasoline, \n]
2  [\n, Diesel (Particulate Filter), \n]
3  [\n, Diesel (Particulate Filter), \n]
4  [\n, Diesel (Particulate Filter), \n]

                                         Consumption  \
0  [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
1  [[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...
2  [[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...
3  [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
4  [[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...

                CO2 Emission Emission Class  \
0   [\n99 g CO2/km (comb)\n]   [\nEuro 6\n]
1  [\n129 g CO2/km (comb)\n]   [\nEuro 6\n]
2   [\n99 g CO2/km (comb)\n]   [\nEuro 6\n]
3   [\n99 g CO2/km (comb)\n]   [\nEuro 6\n]
4  [\n109 g CO2/km (comb)\n]   [\nEuro 6\n]

                           \nComfort & Convenience\n  \
0  [Air conditioning, Armrest, Automatic climate ...
1  [Air conditioning, Automatic climate control, ...
2  [Air conditioning, Cruise control, Electrical ...
3  [Air suspension, Armrest, Auxiliary heating, E...
4  [Air conditioning, Armrest, Automatic climate ...

                           \nEntertainment & Media\n  \
0  [Bluetooth, Hands-free equipment, On-board com...
1  [Bluetooth, Hands-free equipment, On-board com...
2                           [MP3, On-board computer]
3  [Bluetooth, CD player, Hands-free equipment, M...
4  [Bluetooth, CD player, Hands-free equipment, M...

                                          \nExtras\n  \
0  [Alloy wheels, Catalytic Converter, Voice Cont...
1  [Alloy wheels, Sport seats, Sport suspension, ...
2                      [Alloy wheels, Voice Control]
3         [Alloy wheels, Sport seats, Voice Control]
4  [Alloy wheels, Sport package, Sport suspension...

                               \nSafety & Security\n  \
0  [ABS, Central door lock, Daytime running light...
1  [ABS, Central door lock, Central door lock wit...
2  [ABS, Central door lock, Daytime running light...
3  [ABS, Alarm system, Central door lock with rem...
4  [ABS, Central door lock, Driver-side airbag, E...

                                         description   Emission Label  \
0  [\n, Sicherheit:,  , Deaktivierung für Beifahr...              NaN
1  [\nLangstreckenfahrzeug daher die hohe Kilomet...  [\n4 (Green)\n]
2  [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 2...  [\n4 (Green)\n]
3  [\nAudi A1: , - 1e eigenaar , - Perfecte staat...              NaN
4  [\n, Technik & Sicherheit:, Xenon plus, Klimaa...              NaN

     Gears Country version Electricity consumption Last Service Date  \
0      NaN             NaN                     NaN               NaN
1  [\n7\n]             NaN                     NaN               NaN
2      NaN             NaN                     NaN               NaN
3  [\n6\n]             NaN                     NaN               NaN
4      NaN   [\nGermany\n]                     NaN               NaN

  Other Fuel Types Availability Last Timing Belt Service Date Available from
0              NaN          NaN                           NaN            NaN
1              NaN          NaN                           NaN            NaN
2              NaN          NaN                           NaN            NaN
3              NaN          NaN                           NaN            NaN
4              NaN          NaN                           NaN            NaN
<class 'pandas.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  str
 1   make_model                     15919 non-null  str
 2   short_description              15873 non-null  str
 3   body_type                      15859 non-null  str
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  str
 6   km                             15919 non-null  str
 7   registration                   15919 non-null  str
 8   prev_owner                     9091 non-null   str
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  str
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  str
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    str
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    str
dtypes: float64(1), int64(1), object(40), str(12)
memory usage: 6.6+ MB
None

#### Remove columns based on initial scan of data

In [305]:
cols_to_drop = ['url', # metadata
                'kW', # 0 non-null values and redundant with hp
                'null', # empty list (df['null'].apply(lambda x: x == []).all() is true)
                'Offer Number', # manufacturer/internal reference code
                'Model Code' # manufacturer/internal reference code
                ]
df.drop(columns=cols_to_drop, inplace=True)
print(df.shape)

(15919, 49)

#### Remove columns with too many nulls (> 70%)

In [306]:
threshold = 70
missing_percentage = df.isnull().mean() * 100
cols_to_drop = missing_percentage[missing_percentage > threshold].index
print(f"Columns missing values > {threshold}%:\n", cols_to_drop)
df.drop(columns=cols_to_drop, inplace=True)
print(df.shape)

Columns missing values > 70%:
 Index(['Next Inspection', 'Inspection new', 'Emission Label',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='str')
(15919, 40)

#### Extracting Pure Numeric Values

In [307]:
print(df.head())
print(df.info())

  make_model                                  short_description body_type  \
0    Audi A1        Sportback 1.4 TDI S-tronic Xenon Navi Klima    Sedans
1    Audi A1                                     1.8 TFSI sport    Sedans
2    Audi A1  Sportback 1.6 TDI S tronic Einparkhilfe plus+m...    Sedans
3    Audi A1                            1.4 TDi Design S tronic    Sedans
4    Audi A1  Sportback 1.4 TDI S-Tronic S-Line Ext. admired...    Sedans

   price               vat         km registration         prev_owner      hp  \
0  15770    VAT deductible  56,013 km      01/2016  2 previous owners   66 kW
1  14500  Price negotiable  80,000 km      03/2017                NaN  141 kW
2  14640    VAT deductible  83,450 km      02/2016   1 previous owner   85 kW
3  14500               NaN  73,000 km      08/2016   1 previous owner   66 kW
4  16790               NaN  16,200 km      05/2016   1 previous owner   66 kW

                                      Type Previous Owners  \
0  [, Used, , Diesel (Particulate Filter)]           \n2\n
1                     [, Used, , Gasoline]             NaN
2  [, Used, , Diesel (Particulate Filter)]           \n1\n
3  [, Used, , Diesel (Particulate Filter)]           \n1\n
4  [, Used, , Diesel (Particulate Filter)]           \n1\n

                           Warranty                      Full Service  \
0           [\n, \n, \n4 (Green)\n]                          [\n, \n]
1                               NaN                               NaN
2  [\n, \n, \n99 g CO2/km (comb)\n]                               NaN
3                               NaN  [\n, \n, \n99 g CO2/km (comb)\n]
4              [\n, \n, \nEuro 6\n]           [\n, \n, \n4 (Green)\n]

    Non-smoking Vehicle      Make         Model First Registration  \
0              [\n, \n]  \nAudi\n  [\n, A1, \n]     [\n, 2016, \n]
1                   NaN  \nAudi\n  [\n, A1, \n]     [\n, 2017, \n]
2                   NaN  \nAudi\n  [\n, A1, \n]     [\n, 2016, \n]
3  [\n, \n, \nEuro 6\n]  \nAudi\n  [\n, A1, \n]     [\n, 2016, \n]
4              [\n, \n]  \nAudi\n  [\n, A1, \n]     [\n, 2016, \n]

        Body Color      Paint Type           Body Color Original  \
0  [\n, Black, \n]  [\nMetallic\n]           [\nMythosschwarz\n]
1    [\n, Red, \n]             NaN                           NaN
2  [\n, Black, \n]  [\nMetallic\n]  [\nmythosschwarz metallic\n]
3  [\n, Brown, \n]  [\nMetallic\n]                           NaN
4  [\n, Black, \n]  [\nMetallic\n]  [\nMythosschwarz Metallic\n]

           Upholstery              Body Nr. of Doors Nr. of Seats  \
0  [\nCloth, Black\n]  [\n, Sedans, \n]      [\n5\n]      [\n5\n]
1   [\nCloth, Grey\n]  [\n, Sedans, \n]      [\n3\n]      [\n4\n]
2  [\nCloth, Black\n]  [\n, Sedans, \n]      [\n4\n]      [\n4\n]
3                 NaN  [\n, Sedans, \n]      [\n3\n]      [\n4\n]
4  [\nCloth, Black\n]  [\n, Sedans, \n]      [\n5\n]      [\n5\n]

          Gearing Type    Displacement Cylinders          Weight  Drive chain  \
0  [\n, Automatic, \n]  [\n1,422 cc\n]   [\n3\n]  [\n1,220 kg\n]  [\nfront\n]
1  [\n, Automatic, \n]  [\n1,798 cc\n]   [\n4\n]  [\n1,255 kg\n]  [\nfront\n]
2  [\n, Automatic, \n]  [\n1,598 cc\n]       NaN             NaN  [\nfront\n]
3  [\n, Automatic, \n]  [\n1,422 cc\n]   [\n3\n]  [\n1,195 kg\n]          NaN
4  [\n, Automatic, \n]  [\n1,422 cc\n]   [\n3\n]             NaN  [\nfront\n]

                                    Fuel  \
0  [\n, Diesel (Particulate Filter), \n]
1                     [\n, Gasoline, \n]
2  [\n, Diesel (Particulate Filter), \n]
3  [\n, Diesel (Particulate Filter), \n]
4  [\n, Diesel (Particulate Filter), \n]

                                         Consumption  \
0  [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
1  [[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...
2  [[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...
3  [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
4  [[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...

                CO2 Emission Emission Class  \
0   [\n99 g CO2/km (comb)\n]   [\nEuro 6\n]
1  [\n129 g CO2/km (comb)\n]   [\nEuro 6\n]
2   [\n99 g CO2/km (comb)\n]   [\nEuro 6\n]
3   [\n99 g CO2/km (comb)\n]   [\nEuro 6\n]
4  [\n109 g CO2/km (comb)\n]   [\nEuro 6\n]

                           \nComfort & Convenience\n  \
0  [Air conditioning, Armrest, Automatic climate ...
1  [Air conditioning, Automatic climate control, ...
2  [Air conditioning, Cruise control, Electrical ...
3  [Air suspension, Armrest, Auxiliary heating, E...
4  [Air conditioning, Armrest, Automatic climate ...

                           \nEntertainment & Media\n  \
0  [Bluetooth, Hands-free equipment, On-board com...
1  [Bluetooth, Hands-free equipment, On-board com...
2                           [MP3, On-board computer]
3  [Bluetooth, CD player, Hands-free equipment, M...
4  [Bluetooth, CD player, Hands-free equipment, M...

                                          \nExtras\n  \
0  [Alloy wheels, Catalytic Converter, Voice Cont...
1  [Alloy wheels, Sport seats, Sport suspension, ...
2                      [Alloy wheels, Voice Control]
3         [Alloy wheels, Sport seats, Voice Control]
4  [Alloy wheels, Sport package, Sport suspension...

                               \nSafety & Security\n  \
0  [ABS, Central door lock, Daytime running light...
1  [ABS, Central door lock, Central door lock wit...
2  [ABS, Central door lock, Daytime running light...
3  [ABS, Alarm system, Central door lock with rem...
4  [ABS, Central door lock, Driver-side airbag, E...

                                         description    Gears Country version
0  [\n, Sicherheit:,  , Deaktivierung für Beifahr...      NaN             NaN
1  [\nLangstreckenfahrzeug daher die hohe Kilomet...  [\n7\n]             NaN
2  [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 2...      NaN             NaN
3  [\nAudi A1: , - 1e eigenaar , - Perfecte staat...  [\n6\n]             NaN
4  [\n, Technik & Sicherheit:, Xenon plus, Klimaa...      NaN   [\nGermany\n]
<class 'pandas.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 40 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make_model               15919 non-null  str
 1   short_description        15873 non-null  str
 2   body_type                15859 non-null  str
 3   price                    15919 non-null  int64
 4   vat                      11406 non-null  str
 5   km                       15919 non-null  str
 6   registration             15919 non-null  str
 7   prev_owner               9091 non-null   str
 8   hp                       15919 non-null  str
 9   Type                     15917 non-null  object
 10  Previous Owners          9279 non-null   object
 11  Warranty                 10499 non-null  object
 12  Full Service             8215 non-null   object
 13  Non-smoking Vehicle      7177 non-null   object
 14  Make                     15919 non-null  str
 15  Model                    15919 non-null  object
 16  First Registration       14322 non-null  object
 17  Body Color               15322 non-null  object
 18  Paint Type               10147 non-null  object
 19  Body Color Original      12160 non-null  object
 20  Upholstery               12199 non-null  object
 21  Body                     15859 non-null  object
 22  Nr. of Doors             15707 non-null  object
 23  Nr. of Seats             14942 non-null  object
 24  Gearing Type             15919 non-null  object
 25  Displacement             15423 non-null  object
 26  Cylinders                10239 non-null  object
 27  Weight                   8945 non-null   object
 28  Drive chain              9061 non-null   object
 29  Fuel                     15919 non-null  object
 30  Consumption              14013 non-null  object
 31  CO2 Emission             14111 non-null  object
 32  Emission Class           12898 non-null  object
 33
Comfort & Convenience
  14999 non-null  object
 34
Entertainment & Media
  14545 non-null  object
 35
Extras
                 12957 non-null  object
 36
Safety & Security
      14937 non-null  object
 37  description              15919 non-null  object
 38  Gears                    11207 non-null  object
 39  Country version          7586 non-null   object
dtypes: int64(1), object(30), str(9)
memory usage: 4.9+ MB
None

**km:** str to float

In [308]:
df['km'] = (
    df['km']
    .str.replace(r'[^\d]', '', regex=True)
    .replace('', float('nan')) # str.replace produced empty strings
    .astype('float') # remove non-numeric characters and convert to float
)
print(df['km'].head())
print("Number of missing values in km:", df['km'].isnull().sum())

0    56013.0
1    80000.0
2    83450.0
3    73000.0
4    16200.0
Name: km, dtype: float64
Number of missing values in km: 1024

**hp(kW):** string to float

In [309]:
df['hp'] = (
    df['hp']
    .str.replace(r'[^\d]', '', regex=True)
    .replace('', float('nan')) 
    .astype('float')
)
print(df['hp'].head())
print("Number of missing values in hp:", df['hp'].isnull().sum())

0     66.0
1    141.0
2     85.0
3     66.0
4     66.0
Name: hp, dtype: float64
Number of missing values in hp: 88

**registration:** split registration into month and year

In [310]:
print(df['registration'])

0        01/2016
1        03/2017
2        02/2016
3        08/2016
4        05/2016
          ...
15914        -/-
15915    01/2019
15916    03/2019
15917    06/2019
15918    01/2019
Name: registration, Length: 15919, dtype: str

In [ ]:
split = df['registration'].astype(str).str.split('/', expand=True)
df['registration month'] = (
    split[0]
    .astype(str)
    .str.replace(r'[^\d]', '', regex=True)
    .replace('', float('nan')) 
    .astype('Int64')
)
df['registration year'] = (
    split[1]
    .astype(str)
    .str.replace(r'[^\d]', '', regex=True)
    .replace('', float('nan')) 
    .astype('Int64')
)
print(df[['registration month', 'registration year']])

       registration month  registration year
0                       1               2016
1                       3               2017
2                       2               2016
3                       8               2016
4                       5               2016
...                   ...                ...
15914                <NA>               <NA>
15915                   1               2019
15916                   3               2019
15917                   6               2019
15918                   1               2019

[15919 rows x 2 columns]